@model ASPNetDemo320.Project

<div class="row justify-content-lg-cehter">
    <h1>Add new project</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label" >URL</label>
                <input asp-for="Link" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label" >Description</label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to projects list</a>
</div>